:root {
    --cs-color: #FF7A00;
    --cs-color-hover: #c25f02;
    --cs-white: #fff;
    --cs-color-secondary: rgba(255, 255, 255, .10);
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Montserrat', sans-serif;
}
#header,
#hero,
#plan,
#training,
#exercise,
#equip,
#we,
#contact,
#footer {
    overflow-x: hidden !important;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--font-primary);
    background: #1D1D1D;
}
h1, h2, h3, h4, h5 {
    color: #fff;
    font-weight: 600;
    letter-spacing: 3px;
}
h1 {
    font-size: 200px;
}
h2 {
    /* font-size: 45px; */
}
h3 {
    font-size: 45px;
}
h4 {
    font-size: 35px;
}
p {
    font-size: 16px;
    line-height: 29px;
    letter-spacing: .5px;
    color: rgba(255, 255, 255, .50);
}
ul li {
    color: rgba(255, 255, 255, .50);
}

.btn-cs {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    background: var(--cs-color);
    color: var(--cs-white);
    padding: 24px 48px;
    border-radius: 10px;
}
.btn-cs:hover {
    background: var(--cs-color-hover);
    color: #fff !important;
}
.btn-cs-secondary {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    background: var(--cs-color-secondary);
    color: var(--cs-white);
    padding: 24px 48px;
    border-radius: 10px;
}
.btn-cs-secondary:hover {
    background: rgba(255, 255, 255, .05);
    color: #fff !important;
}

/* header start */
#header {
    width: 100%;
    overflow-x: hidden;
    background: #1D1D1D;
}
.navbar {
    background: #1D1D1D;
}
.navbar-brand img {
    max-width: 200px;
}
.navbar-nav li {
    padding: 0 16px;
}
.navbar-nav li a {
    color: rgba(255, 255, 255, .70)
}
.navbar-nav li a:hover,
.navbar-nav li a.active {
    color: rgba(255, 122, 0, .67) !important;
}
/* header end */
/* hero start */
#hero {
    padding: 180px 0 70px;
}
.hero-top {
    margin-bottom: 20px;
}
.hero-top p {
    font-size: 12px;
    background: var(--cs-color-secondary);
    border-radius: 30px;
    padding: 8px 25px 8px 8px;
    display: inline-block;
}
.hero-top .hero-discount {
    font-size: 18px;
    font-weight: 600;
    padding: 4px 6px;
    background: var(--cs-color);
    color: #fff;
    border-radius: 30px;
    margin-right: 12px;
}
.hero-content h1 {
    line-height: 150px;
    margin-bottom: 26px;
}
.hero-links {
    margin-top: 30px;
}
.hero-content .btn-cs {
    margin-right: 30px;
}
/* hero end */
/* plan start */
#plan {
    padding: 30px 60px;
}
.plan-title {
    margin-bottom: 40px;
}
.plan-img,
.training-img {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: .4s;
}
.plan-single .plan-img::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 60%);
    z-index: 99;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
}
.plan-single ul {
    min-height: 280px;
}
.plan-single {}
/* plan end */
/* training start */
#training {
    padding: 60px 0 30px;
}
.training-title {
    margin-bottom: 40px;
}
.training-title .btn-cs,
.plan-title .btn-cs {
    padding: 11px 25px;
}
.training-desc {
    position: relative;
    top: -68px;
    z-index: 999;
    padding: 0 20px;
}
.training-desc h4 {
    height: 84px;
    display: flex;
    align-items: flex-end;
}
.training-img::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 80%);
    z-index: 99;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    transition: .5s;
}

.training-img-overlay {
    width: 0%;
    height: 0%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.7));
    transition: .5s;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: .1;
}
.training-img:hover .training-img-overlay  {
    display: flex;
    opacity: 1;
    transition: .4s;
    width: 100%;
    height: 100%;
}
.training-img-overlay h4 {
    font-size: 26px;
    letter-spacing: normal;
    font-weight: 800;
    margin-bottom: 0;
    line-height: 1.01;
}
.training-img-overlay .btn-cs {
    font-size: 16px;
    padding: 12px 25px !important;
}
.training-img-overlay p {
    color: #fff;
}
.training-single:hover .training-desc {
    opacity: .8;
}
/* training end */
/* exercise start */
#exercise {
    padding: 30px 60px;
}
.exercise-row {
    position: relative;
}
.exercise-row::before {
    content: "";
    background: rgba(69, 72, 71, .10);
    width: 70.78%;
    height: 722px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -9;
}

.exercise-title h2 {
    font-size: 120px;
    line-height: 120px;
    letter-spacing: -2px;
}
.title-underline {
    position: relative;
    z-index: -9;
    margin-top: -130px;
}
.exercise-title p {
    font-size: 25px;
    line-height: 50px;
    max-width: 560px;
    margin: 50px 0 40px;
}
.exercise-1 img,
.exercise-2 img {
    height: 380px;
    object-fit: cover;
}
.exercise-2 {
    margin-top: 380px;
}
.exercise-3 img {
    height: 490px;
    object-fit: cover;
}
.exercise-pt {
    padding-top: 110px;
}
.exercise-desc {
    padding: 10px;
}
.exercise-desc ul li {
    font-style: italic;
    font-size: 16px;
    line-height: 32px;
}
.exercise-1 h4 {
    font-size: 28px;
}
.exercise-2 h4 {
    font-size: 34px;
}
.exercise-3 h4 {
    font-size: 34px;
}
.exercise-content h5 {
    color: rgba(255, 255, 255, .50);
    text-transform: uppercase;
    letter-spacing: .5px;
}
/* exercise end */
/* equip start */
#equip {

}
.equip-content {
    background: rgba(69, 72, 71, .10);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
    margin-bottom: 60px;
    padding: 40px 40px 0;
}
.equip-content h2 {
    font-size: 100px;
    line-height: 100px;
    letter-spacing: -2px;
    margin-bottom: 40px;
}
.equip-img {
    width: 100%;
    max-width: 300px;
}
/* equip end */
/* we start */
#we {
    margin-bottom: 60px;
}
.we-content {
    background: rgba(69, 72, 71, .10);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
    padding: 40px;
}
.we-title {
    position: relative;
    text-align: center;
}
.we-title img {
    max-width: 470px;
    position: absolute;
    left: 0;
    top: 20px;
    right: 0;
    margin: 0 auto;
    transform: scaleX(-1) scaleY(-1);
    z-index: -9;
}
.we-content h2 {
    font-size: 100px;
    letter-spacing: -2px;
    text-align: center;
    margin-bottom: 60px;
}
.we-content p {
    line-height: 40px;
}
.we-content p strong {
    color: rgba(255, 255, 255,.70);
}
.we-content h4 {
    font-size: 50px;
    letter-spacing: -2px;
}
.we-icon-2 {
    max-width: 340px;
}
/* we end */
/* contact start */
.contact-title {
    margin-bottom: 30px;
}
.contact-content {
    background: rgba(69, 72, 71, .10);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
    padding: 50px 40px;
    margin-bottom: 40px;
}
form {
    padding: 40px;
    background: #1D1D1D;
    border-radius: 10px;
}
input, select, textarea {
    background: rgba(255, 255, 255, .50) !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, .70)  !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, .70)  !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(255, 255, 255, .70)  !important;
}

label {
    color: rgba(255, 255, 255, .50);
}
button[type=submit] {
    background: var(--cs-color);
    padding: 12px 30px;
}
select {
    background: #212121 !important;
    background: #E8F0FE !important;
    color: #212529  !important;
}
select option {
    color: #212529  !important;
}
.contact-desc {
    padding-top: 60px;
}
.contact-desc i {
    font-size: 28px;
    color: rgba(255, 255, 255, .70)  !important;
}
.contact-desc a {
    text-decoration: none;
    color: rgba(255, 255, 255, .70);
}
.contact-desc .row {
    margin-bottom: 40px;
}
/* contact end */
/* footer start */
#footer {
    font-family: var(--font-secondary);
    background: rgba(69, 72, 71, .10);
    padding-top: 60px;
}
#footer h5 {
    font-size: 18px;
    letter-spacing: 0;
    margin-bottom: 30px;
}
.footer-2 ul li a,
.footer-3 ul li a {
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
}
.footer-2 ul li a,
.footer-3 ul li a,
.footer-4 a {
    color: #fff !important;
    text-decoration: none;
}
.footer-2 ul li a:hover,
.footer-3 ul li a:hover {
    color: var(--cs-color) !important;
}
.footer-2 ul li a
.footer-4 p {
    color: #fff;
    margin-bottom: 0;
}
.footer-logo {
    max-width: 200px;
}
.contact-details {
    margin-bottom: 30px;
}
.social-list li {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: var(--cs-color);
    border-radius: 50%;
    text-align: center;
    line-height: 2.5;
    margin: 0 0px !important;
}
.social-list li a i {
    font-size: 20px;
}
.copyright p {
    font-size: 13px;
    margin-top: 10px;
}
.copyright .copyright-img-1 {
    max-width: 100px;
    margin-right: 20px;
}
.copyright .copyright-img-2 {
    margin-left: 20px;
    max-width: 100px;
}
.copyright-row {
    border-top: 1px solid rgba(255, 255, 255, .30);
    margin-top: 30px;
}
.copyright-desktop {
    display: block;
}
.copyright-mobile {
    padding-top: 15px;
    display: none;
}
/* footer end */


@media (max-width: 1425px) {
    h4 {
        font-size: 24px;
    }
    .plan-single ul {
        min-height: 336px;
    }
}
@media (max-width: 1220px) {
    .exercise-title h2 {
        font-size: 68px;
        line-height: 68px;
        max-width: 350px;
    }
    .title-underline {
        position: relative;
        z-index: -9;
        margin-top: -80px;
        max-width: 300px;
    }
    .equip-content h2 {
        font-size: 68px;
        line-height: 68px;
        letter-spacing: -2px;
        margin-bottom: 40px;
    }
    .exercise-row::before {
        height: 518px;
    }
}
@media (max-width: 1100px) {
    h1 {
        font-size: 140px;
        line-height: 90px;
    }
    h4 {
        font-size: 22px;
    }
    .plan-single ul {
        min-height: auto;
    }
    .plan-single {
        padding-bottom: 30px;
    }
}
@media (max-width: 1024px) {
    .exercise-row::before {
        height: 618px;
    }
}
@media (max-width: 991px) {
    .exercise-row::before {
        height: 618px;
    }
    .exercise-2 {
        margin-top: 0;
        padding-left: 15px;
    }
    .equip-content h2 {
        font-size: 58px;
        line-height: 58px;
        letter-spacing: -2px;
        margin-bottom: 40px;
    }
    .footer-logo {
        max-width: 100px;
    }
    .copyright p {
        line-height: 22px;
    }
    .we-content img {
        max-width: 200px;
    }
}
@media (max-width: 767.99px) {
    #hero {
        padding: 120px 0 40px;
    }
    #training {
        padding: 0 0 40px;
    }
    h1 {
        font-size: 60px;
    }
    h3 {
        font-size: 28px;
    }
    h4 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .hero-top {
        margin-bottom: 10px;
        width: 100%;
    }
    .hero-top p {
        font-size: 10px;
        padding: 6px 8px;
        margin-bottom: 0;
    }
    .hero-top .hero-discount {
        font-size: 12px;
        margin-right: 2px;
    }
    
    .hero-content h1 {
        line-height: 70px;
        margin-bottom: 26px;
    }
    .btn-cs {
        font-size: 16px;
        padding: 14px 18px;
    }
    .btn-cs-secondary {
        font-size: 16px;
        padding: 14px 18px;
    }
    .hero-links {
        text-align: center;
    }
    .hero-content .btn-cs {
        margin-right: 10px;
    }
    #plan {
        padding: 30px 15px;
    }
    .plan-single {
        margin-bottom: 30px;
    }
    .plan-single ul {
        min-height: auto;
    }
    .exercise-title h2 {
        font-size: 52px;
        line-height: 52px;
        max-width: 270px;
    }
    #exercise {
        padding: 30px 15px;
    }
    .title-underline {
        position: relative;
        z-index: -9;
        margin-top: -80px;
        max-width: 260px;
    }
    .exercise-title p {
        font-size: 18px;
        line-height: 30px;
    }
    .exercise-pt {
        padding-top: 40px;
    }
    .exercise-2 {
        margin-top: 30px;
        padding-left: 0;
    }
    .exercise-3 {
        margin-top: 30px;
    }
    .exercise-3 h4,
    .exercise-1 h4,
    .exercise-2 h4 {
        font-size: 24px;
    }
    .equip-content {
        margin-bottom: 30px;
        padding: 20px 15px 0px;
    }
    .equip-content h2 {
        font-size: 42px;
        line-height: 42px;
        letter-spacing: -2px;
        margin-bottom: 30px;
        margin-top: 25px;
        max-width: 270px;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-desc i {
        font-size: 18px;
    }
    .contact-desc a {
        font-size: 14px;
    }
    .equip-img {
        width: 100%;
        max-width: 240px;
        margin-top: 40px;
    }
    #we {
        margin-bottom: 40px;
    }
    .we-content {
        padding: 15px;
    }
    .we-content img {
        max-width: 150px;
    }
    .we-title img {
        max-width: 270px;
    }
    .we-content h2 {
        font-size: 62px;
    }
    .we-icon-2 {
        max-width: 260px;
    }
    .contact-content {
        padding: 30px 15px;
    }
    form {
        padding: 15px;
    }
    #footer {
        padding: 30px 15px;
    }
    .footer-logo {
        max-width: 150px;
        margin-bottom: 40px;
    }
    #footer h5 {
        margin-bottom: 15px;
        margin-top: 20px;
    }
    .copyright-desktop {
        display: none;
    }
    .copyright-mobile {
        display: block;
    }
}